.container {
    padding: 0 80px;
}

.header {
    padding-top: 12px;
    padding-bottom: 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoSection {
    max-width: 160px;
    width: 100%;

    display: flex;
    align-items: center;

    img {
        width: 100%;
    }
}

.linkSection {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    width: 100%;
}

.intro {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    .titleSection {
        max-width: 64%;

        h1 {
            font-family: 'Sora', sans-serif;
            font-size: 66px;
            margin: 0;
        }
    }

    .descriptionSection {
        font-family: 'Sora', sans-serif;
        max-width: 30%;

        p {
            font-size: 14px;
            margin: 0;
        }

        a {
            margin-top: 32px;
            display: block;
            max-width: 250px;
            width: 100%;
            height: 48px;
            border-radius: 100px;
            line-height: 48px;
            text-align: center;
            background-color: $black;
            color: $white;
        }
    }
}

.highlights {
    background-color: $maximum-blue-purple;
    padding: 0 40px;
    font-family: 'Sora', sans-serif;
    border-radius: 20px;
    margin-top: 80px;

    .textSection {
        width: 50%;
        padding-top: 40px;
        padding-bottom: 40px;

        h2 {
            font-weight: 400;
            font-size: 47px;
        }

        p {
            font-size: 14px;
            margin: 0;
        }

        a {
            margin-top: 32px;
            display: block;
            max-width: 250px;
            width: 100%;
            height: 48px;
            border-radius: 100px;
            line-height: 48px;
            text-align: center;
            background-color: $black;
            color: $white;
        }
    }
}

.footer {
    margin-top: 80px;
    background-color: $black;
    .footerTop {
        display: flex;
        justify-content: space-between;

        .infoSection,
        .menuSection,
        .followSection,
        .subscribeSection {
            display: flex;
            flex-direction: column;
        }
    }
}