$white: #FAF8F3;
$black: #101010;
$dark-grey: #636363;
$light-grey: #B1B1B1;
$pastel-grey: #CAD8C6;
$maximum-blue-purple: #B7B0D7;
$deep-champagne: #F3CDA3;
$sunny: #F6F378;
$pale-spring-bud: #E2FEC3;